
@{
    ViewBag.Title = "Home";
}

@section styles{
    <style>
        #page {
            margin-top: 150px;
            margin-left: 150px;
        }
        #footer {
            margin-left: 330px;
        }
    </style>
}

<div id="page">
    <h1 style="font-weight: bold">Welcome to University Management System!</h1>
    <h3 style="font-style: italic; color: #003366">This project has been made for BITM ASP.NET course as a final project.</h3>
    
</div>
